<nav></nav>

<div class="container-fluid">

    <div class="content row">
        <div class="col s8 pane">
            <div class="row">
                <graphDisplay id="cy" class="graph col s12 white z-depth-2"></graphDisplay>
            </div>
        </div>
        <div class="col s4 pane">
            <div class="row">
                <courseCard id="course" class="courseCard col s12 white z-depth-2"></courseCard>
            </div>
        </div>

        <toolbar></toolbar>

        <!--<page-footer></page-footer>-->

        <course-degree-modal></course-degree-modal>