<nav></nav>

<div class="container-fluid full-div">

    <div class="content row full-div">
        <div class="col s8 pane full-div">
            <div class="row full-div">
                <graphDisplay id="cy" class="col s12 white z-depth-2 pane-background"></graphDisplay>
            </div>
        </div>
        <div class="col s4 pane full-div">
            <div class="row full-div">
                <courseCard id="course" class="col s12 white z-depth-2 pane-background"></courseCard>
            </div>
        </div>

        <toolbar></toolbar>

        <!--<page-footer></page-footer>-->

        <course-degree-modal></course-degree-modal>