<nav></nav>

<div class="container-fluid full-div">

<div class="content row full-div">
    <div class="col s12 m8 pane full-div">
        <div class="row full-div">
            <graphDisplay id="cy" class="col s12 white z-depth-2 pane-background"></graphDisplay>
        </div>
    </div>
    <div class="col m4 pane full-div">
        <div class="row full-div">
            <card-container class="col s12"></card-container>
        </div>
    </div>
</div>

<toolbar></toolbar>

<welcomeScreen></welcomeScreen>

<!--<page-footer></page-footer>-->