<md-tab-group>
    <md-tab label="Add Course">
        <form class="addDialog">
            <br>

            <div class="row">
                <md-select placeholder="Department" [(ngModel)]="courseDepartmentModel" name="courseDepartment" class="col s12">
                    <md-option *ngFor="let courseDepartment of courseDepartments" [value]="courseDepartment" [innerHtml]="courseDepartment.name">
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <md-select placeholder="Course" [(ngModel)]="courseModel" name="course" class="col s12">
                    <md-option *ngFor="let course of courses" [value]="course">
                        {{ course.department }} {{ course.number }}: <span [innerHtml]="course.title"></span>
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <button (click)="_addCourse()" md-button class="col s3 offset-s4 offset-m8 m4 indigo white-text" md-dialog-close>Add</button>
            </div>
        </form>
    </md-tab>
    <md-tab label="Add Degree">
        <form class="addDialog">
            <br>

            <div class="row">
                <md-select placeholder="Department" [(ngModel)]="degreeDepartmentModel" name="degreeDepartment" class="col s12">
                    <md-option *ngFor="let degreeDepartment of degreeDepartments" [value]="degreeDepartment" [innerHtml]="degreeDepartment.department">
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <md-select placeholder="Degree" [(ngModel)]="degreeModel" name="degree" class="col s12">
                    <md-option *ngFor="let undergradDegree of undergradDegrees" [value]="undergradDegree" [innerHtml]="undergradDegree.title">
                    </md-option>
                </md-select>
            </div>

            <div class="row">
                <button (click)="_addDegreeAsync()" md-button class="col s3 offset-s4 offset-m8 m4 indigo white-text" md-dialog-close>Add</button>
            </div>
        </form>
    </md-tab>
</md-tab-group>