<modal modalID="addClassDegreeModal">
    <div class="modal-content">
    <div class="row">
        <div class="input-field col s12" class="department">
            <select [(ngModel)]="departmentModel" style="display: inline">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let department of departments" [value]="department.code">{{ department.name }}</option>
            </select>
            <label>Department</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12" class="course">
            <select [(ngModel)]="courseModel" style="display: inline">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let course of courses" [value]="course">{{ course.department }} {{ course.number }}: {{ course.title }}</option>
            </select>
            <label>Course</label>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="_add()">Agree</a>
    </div>

    <!--<div class="row">
        <div class="col-md-12">
            <label for="departmentSelect">Select Department</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" id="departmentSelect" [(ngModel)]="departmentModel">
                <option *ngFor="let department of departments" [value]="department.code">{{ department.name }}</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <label for="courseSelector">Select Course</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" data-live-search="true" id="courseSelector" [(ngModel)]="courseModel">
                <option *ngFor="let course of courses" [value]="course">{{ course.department }} {{ course.number }}: {{ course.title }}</option>
            </select>
        </div>
    </div>-->
</modal>