<div class="graph-display text-center col-xs-6">
  <h3>Graph Display</h3>

  <select class="selectpicker" data-width="200px" title="Select Displayed Content">
 	  <option>Major Requirements</option>
 	  <option>Minor Requirements</option>
 	  <option>College Requirements</option>
   	<option>All of the Above</option>
   	<option>Custom</option>
 	</select>

  <!-- draw graph here -->
 	<div class="graph">
 	<br /><br /><br />
    <h4>draw graph here</h4>
 	  <h4>(container size dependent on content)</h4>
 	<br /><br /><br />
  </div>
</div>
