<div class="sidebar-left sidebar bg-warning">
    <div class="row">
        <div class="col-md-12">
            <label for="collegeSelect">Select College</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" id="collegeSelect">
                <option *ngFor="let college of colleges" [value]="college">{{ college }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="degreeSelect">Select Major</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" id="degreeSelect">
                <option *ngFor="let degree of undergradDegrees" [value]="degree">{{ degree }}</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <label for="minorSelect">Select Minor</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" id="minorSelect">
                <option *ngFor="let minor of undergradMinors" [value]="minor">{{ minor }}</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <label for="departmentSelect">Select Department</label>
            <select class="selectpicker" data-width="100%" title="Nothing Selected" id="departmentSelect" [(ngModel)]="departmentModel">
                <option *ngFor="let department of departments" [value]="department.code">{{ department.name }}</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <label for="courseSelector">Select Course</label>
            <!-- Read from array of courses -->
            <select class="selectpicker" data-width="100%" title="Nothing Selected" data-live-search="true" id="courseSelector" [(ngModel)]="courseModel">
                <option *ngFor="let course of courses" [ngValue]="course">{{ course.department }} {{ course.number }}: {{ course.title }}</option>
            </select>
        </div>
    </div>
</div>